<!DOCTYPE html>
<html>
<head>
    <title>Water Intake Calculator</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="navbar">
    <a href="/">Home</a>
    <a href="/bmi">BMI Calculator</a>
    <a href="/water">Water Calculator</a>
    <a href="/history">History</a>
</div>
<div class="card">

    <h1>Water Intake Calculator</h1>

    <form method="POST" action="/calculate_water">

        <input
            type="number"
            name="weight"
            placeholder="Enter Weight (kg)"
            required>

        <br><br>

        <button type="submit">
            Calculate
        </button>

    </form>

    {% if water %}

    <h2>Results</h2>

    <p><b>Weight:</b> {{ weight }} kg</p>

    <p>
        <b>Recommended Daily Water Intake:</b><br>
        {{ water }} Litres/day
    </p>

    {% endif %}

</div>
<footer style="text-align:center; margin-top:30px;">
    <p>Smart Health Assistant © 2026</p>
</footer>
</body>
</html>